

<a href="@Url.Action("Index","Cart")" class="header_home__cart">
    <i class="fa-solid fa-cart-shopping"></i>
    Giỏ hàng
    <p class="header_home__cart_count">
        @ViewBag.CountCart
    </p>
</a>
