
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color:  #fff;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 100%;
    height: 1200px;
    background-color: beige;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #021e43;
}

.container-left {
    max-width: 10%;
    width: 10%;
    min-width: 220px;
    height: 100%;
    background-color: #021e43;
    padding: 10px;
}

.container-right {
    border-radius: 15px 0 0 0;
    max-width: 90%;
    width: 90%;
    height: 100%;
    margin: 50px 0 0 0;
    padding: 10px;
    background-color: #fff;
}

/* container left */
.content_l_header {
    margin-bottom: 10px;
    border-bottom: 1px solid #080d9e;
    height: 130px;   
}

.content_l_header, .content_l_menu  {
    width: 100%;    
}

.content_l_header .avt_admin {
    width: 80px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    aspect-ratio: 1/1;
    border: 5px solid black;    
    margin: 5px auto;
}

.content_l_header .avt_admin img{
    width: 100%;
    height: 100%;
}

.content_l_header .name_admin {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.content_l_menu ul li, .content_l_menu ul li> ul li{
    width: 100%;
    min-height: 40px;
    margin: 20px 0;
    padding: 20px 0px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.content_l_menu ul li {
    height: fit-content;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    overflow: hidden;
}

.content_l_menu ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.content_l_menu ul li i{
    color: #fff;
    margin: 0 10px;
}

.content_l_menu ul li:hover{
    background-color: #0f5abd;
}

.content_l_menu ul li:hover ul {
    display: block;
}

/* child menu */
.content_l_menu ul li> ul, .content_l_menu ul li>ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content_l_menu ul li> ul li{
    color: #fff;
    padding: 20px 0 0 0;   
    border-radius: 0;
}

.content_l_menu ul li> ul li:first-child{
    margin: 20px 0 0 0;
}

.content_l_menu ul li> ul li a i{
    margin-left: 20px;
}

.content_l_menu ul li> ul li:hover {
    background-color: #021e43;
    border-bottom: 1px solid #fff;
}

.content_l_menu ul li> ul{
    display: none;
}

/*  */